<header class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-white container">
        <a class="navbar-brand" href="/">HOME</a>
        <a class="navbar-brand" href="/about">ABOUT</a>
        <div class="dropdown show pr-5">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Encryption
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/image/encrypt">Image</a>
                <a class="dropdown-item" href="/audio/encrypt">Audio</a>
                <a class="dropdown-item" href="/video/encrypt">Video</a>
                <a class="dropdown-item" href="/imageAndAudio/encrypt">Image & Audio</a>
                <a class="dropdown-item" href="/audioAndVideo/encrypt">Audio & Video</a>
            </div>
        </div>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Decryption
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/image/decrypt">Image</a>
                <a class="dropdown-item" href="/audio/decrypt">Audio</a>
                <a class="dropdown-item" href="/video/decrypt">Video</a>
                <a class="dropdown-item" href="/imageAndAudio/decrypt">Image & Audio</a>
                <a class="dropdown-item" href="/audioAndVideo/decrypt">Audio & Video</a>
            </div>
        </div>
    </nav>
</header>