<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image & Audio Page</title>
	{% include "abovelinks.html" %}
	<link rel="stylesheet" href='/public/css/style.css'>
	<link rel="stylesheet" href='/public/css/multi.css'>
</head>

<body>

    {% include "header.html" %}

	{% if value is defined %}
		{% if value == "encode" %}
    		<h1>Encode Text With Audio And Video</h1>
		{% elif value == "decode" %}
    		<h1>Decode The Audio And Video File</h1>
		{% endif %}
	{% endif %}

    <form method="POST" enctype="multipart/form-data" action="/audioAndVideo" class="container">

		{% if value is defined %}
			{% if value == "encode" %}
			<div class="multiple-input">
				<div class="form-group">
					<label for="firstname">Enter Text To Encode :</label>
					<input id="firstname" type="text" required class="form-control" name="inputText">
				</div>
			</div>
			{% endif %}
		{% endif %}

		{% if value == "encode" or value == "decode" %}
		<div class="multiple-input">
			<div class="form-group input-image-audio">
				<div class="alignment">
					{% if value == "encode" %}
						<p>Select Your Audio File To Encode</p>
					{% else %}
						<p>Select Your Audio File To Decode</p>	
					{% endif %}
					<i class="fa-solid fa-music"></i>
					<input required type="file" accept="audio/*" name="uploadedAudio">
				</div>
			</div>
			<div class="form-group input-image-audio">
				<div class="alignment">
					{% if value == "encode" %}
						<p>Select Your Video File To Encode</p>
					{% else %}
						<p>Select Your Video File To Decode</p>	
					{% endif %}
					<img src="/public/images/video1.png" alt="video">
					<input required type="file" accept="video/*" name="uploadedVideo">
				</div>
			</div>
		</div>
		{% endif %}

		{% if value is defined %}
			{% if value == "encode" %}
				<input type="submit" name="action" value="Encode" class="submit">
			{% endif %}
			{% if value == "decode" %}
				<input type="submit" name="action" value="Decode" class="submit">
			{% endif %}
		{% endif %}

	</form>
	
	{% if encoded is defined %}
		<div class="download">
			<h1>Your Audio File Is Encoded Successfully</h1>
			<p><a href="{{ audiofilename }}" download>Download Encoded Audio</a></p>
		</div>
		<div class="download">
			<h1>Your Video File Is Encoded Successfully</h1>
			<p><a href="{{ videofilename }}" download>Download Encoded Video</a></p>
		</div>
	{% endif %}

	{% if decoded is defined %}
		<div class="decoded-msg">
			<h1>The decoded Message is : </h1>
			<p>{{ decodedMsg }}</p>
		</div>
	{% endif %}
	

    <script src="/public/js/script.js"></script> 
	{% include "belowlinks.html" %}

  </body>
</html>